div.editable {
    border-color: #f5f5f5;
    border-style: solid;
    border-width: 1px;
}
div.editable:hover {
    border-color: #000000;
}
div#beingedited {
    border-width: 0;
}
div#beingedited textarea {
    width: 100%;
}
div#div_ticketSummary {
    padding-bottom: 2em;
}
